*{
    margin: 0;
    padding: 0;
    background-color: #cdcdcd;
}

#heading{
    background-color: black;
    height: 50px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
#heading>h3{
    color: white;
    background-color: black;
    font-size: 30px;
}
#search-bar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#search-bar-input{
    width: 90%;
    height: 30px;
    border: 1px solid black;
    background-color: white;
}
#search-btn{
    background-color: black;
    color: white;
    width: 100px;
    border-style: none;
    cursor: pointer;
}
.functions{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    
}
.functions>button{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}
#table-container{
    background: #CDCDCD;
    padding: 20px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 80vw;
    margin: auto;
}
td{
    border: 1px solid black;
    font-size: 18px;
    padding: 8px;
    padding-left: 10px;
}
.td2-container{
    text-align: end;
    display: flex;
    gap: 20px;
    align-items: center;
}

.td2-container img{
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
}

#table-2-div{
    display: none;
}
#not-found{
    background: #CDCDCD;
    color: red;
    text-align: center;
    display: none;
}
